li {
    border-radius: 2px;
    background: #fff;
    box-shadow: 15px 15px 14px rgba(0, 0, 0, 0.05);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li header {
    margin-bottom: 5px;
}
